---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports

import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-15">
			<header class="hero">
				<Hero
					title="About Me"
					tagline="Stefan Misoski is a student at the FCSE located in Skopje, Macedonia. He's currently finishing his first year of studies and is working towards his Software Engineering degree."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="terminal-window" size="1.33em" /> Programmer</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="picture" size="1.33em" /> Photographer</Pill>
					</div>
				</Hero>
				<img
					alt="Stefan Misoski"
					width="480"
					height="620"
					src="/assets/portrait.png"
				/>
			</header>
			<header class="section-header stack gap-2 lg:gap-4" id="skills">
				<h3>Skills</h3>
				<p>The following are the languages and software I am proficient with:</p>
			</header>
			<Skills />
		</div>

		<section class="section with-background bg-variant" id="education">
			<header class="section-header stack gap-2 lg:gap-4">
				<h3>Education</h3>
			</header>

			<div class="gallery">
				<Grid variant="small">
					{
						<li class="mention-card">
							<h5>Faculty of Computer Science and Engineering - Skopje</h5>
							<p>Bachelor Of Science</p>
							<p>2022-Present</p>
						</li>
						<li class="mention-card">
							<h5>MHS 'St. Kliment Ohridski' - Ohrid</h5>
							<p>High School Diploma</p>
							<p>2018-2022</p>
						</li>
						<li class="mention-card">
							<h5>MPS 'Brakja Miladinovci' - Struga</h5>
							<p>Primary Education</p>
							<p>2009-2018</p>
						</li>
					}
				</Grid>
			</div>
		</section>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta" >
				<header class="section-header stack gap-2 lg:gap-4" id="hobbies">
					<h3>My Hobbies</h3>
					<p>The world that surrounds us is full of amazing sights just waiting to be captured. Here are some of my favorites:</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							<li> <img src="/assets/lake.jpg" alt="Lake"/> </li>
							<li> <img src="/assets/sky.jpg" alt="Sky"/> </li>
							<li> <img src="/assets/winter.jpg" alt="Winter"/> </li>
							<li> <img src="/assets/stream.jpg" alt="Stream"/> </li>
							<li> <img src="/assets/ohrid.jpg" alt="Ohrid"/> </li>
							<li> <img src="/assets/ice.jpg" alt="Ice"/> </li>
						}
					</Grid>
				</div>

			</section>
		</main>
		<a href="/" class="top"><Icon icon="arrow" size="1.33em" /></a>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		/*text-align: center;*/
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 3rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}
		.gallery img{
			border-radius: 50px;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 12.5rem;
		}
	}
	.top {
		position: fixed;
		bottom: 25px;
		right: 30px;
		z-index: 99;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		place-self: end;
		text-decoration: none;
		font-size: var(--text-md);
		color: #fff;
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 100px;
		white-space: nowrap;
	}
</style>
